*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
summarizing-taxonomy-plus-trees.pdf
summarizing-taxonomy-plus-trees.toc
otc-find-resolution.pdf
ByrkaGJ2010.pdf
Wu2004constructing.pdf
Wu2004.pdf
*.pdf
