 */tempout-*
step-1-pruned-overlapping-tips/subproblem-finding-outerrstreams.txt
step-1-pruned-overlapping-tips/export-sub-temp
step-3-contested-tips/contested-errstream.txt
step-1a-monotypic-suppressed
